/* All sass variables here */
$base-background-color:             #f8f8f8;

// Typography
$font-color:                        #000;
$font-size-base:                    1rem;
$font-size-large:                   1.1rem;
$font-size-sm:                      .9rem;

// Buttons
$button-bg-color:                   #253ae4;
$button-font-color:                 #FFF;

// Forms
$input-padding:                        10px 15px; 
$input-border:                      1px solid #000;
$input-border-radius:               2px;

// Media Queries
$tablet:                            768px;
$mobile:                            480px;

// Font
$font-type:                         'Roboto', sans-serif;